.btn-close {
  position: relative;
  float: right;
}

.ember-split-view{
  display: flex;

  &.vertical{
    flex-direction: row;

    & .split-view-child{
      flex-direction: row;
    }
    & .ember-split-view-splitter{
      cursor: e-resize;
      width: 10px;
      height: 100%;
      padding: .75rem 0;
    }
  }
  &.horizontal{
    flex-direction: column;

    & .split-view-child{
      flex-direction: column;
    }
    & .ember-split-view-splitter{
      cursor: n-resize;
      height: 10px;
      width: 100%;
      padding: 0 .75rem;
    }
  }

  & .split-view-child {
    display: flex;

    &.hidden{
      display: none!important;
    }

    & .split-child-container{
      border: solid;
      border-width: 1px;
      border-radius: 10px;
      padding: .75rem;
      width: 100%;
      height: 100%;

      & .btn-close{
        border: 1px solid black;
        padding: .15rem .3rem;
        cursor: pointer;
      }
    }
  }

  & .ember-split-view-splitter{
    &:hover{
      background-color: lightgray;
    }
  }
}
