<div class="split-child-container">
  {{yield (hash close-button=(component 'ember-split-view/child/close-button' closeAction=(action 'close')))}}
</div>
{{#if isNotLast}}
  <div class="ember-split-view-splitter" onmousedown={{action 'startDrag'}}>
  </div>
{{/if}}
