<h2 id='title'>Demo</h2>
<div class="intro">
  Drag the sash between the views (boxes).
</div>

{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "vertical" class="toolbar-item"}}Vertical{{/link-to}}
    {{#link-to "horizontal" class="toolbar-item"}}Horizontal{{/link-to}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-content class="content"}}
  {{outlet}}
{{/paper-content}}
