<div class="demo-tab">
  {{#ember-split-view isVertical=true  class="splitViewVertical" as |split|}}
    {{#split.child as | child |}}

      {{partial "ring"}}
    {{/split.child}}
    {{#split.child }}
      {{partial "yoda"}}
    {{/split.child}}
  {{/ember-split-view}}
</div>
